.newsletter {
    background-image: url('../img/bg_newsletter.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 20px;
    text-align: center;
    padding: 17rem 0 12rem 0;
    margin-top: -7rem;

    h1 {
        text-align: center;
        margin-bottom: 8.4rem;
    }
    .input_wrapper {
        margin: 0 auto;
        background-color: #fff;
        display: inline-block;
        padding: 6px;
        border-radius: 35px;
        padding-left: 2.5rem;
        
        input {
            width: 61rem;

            &::-webkit-input-placeholder {color: #333;}
            &::-moz-placeholder          {color: #333;}/* Firefox 19+ */
            &:-moz-placeholder           {color: #333;}/* Firefox 18- */
            &:-ms-input-placeholder      {color: #333;}
        }
    }
}